<div class="index_content_post_list">
  <div class="post_title_warp">
    <p class="title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></p>
  </div>
  <div class="post_tag_warp">
    <div class="post_date"><span><%= date(post.date, null) %></span></div>
    <div class="post_tag">
      <% if (post.tags && post.tags.length){ %>
        <% post.tags.each(function(tag){ %>
            <span class="post_tag"><a class="" href="<%- url_for(tag.path) %>"><%= tag.name %><a></span>
        <%}); %>
      <% } %>
    </div>
  </div>
  <div class="post_content_warp">
    <%- post.excerpt %>
  </div>
</div>
